# SANITY CMS CONFIGURATION
NEXT_PUBLIC_SANITY_PROJECT_ID=placeholder-project
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01

# RESEND API KEY FOR FORMS (Agende uma Visita & Orçamento de Locação)
RESEND_API_KEY=re_123456789
EMAIL_DESTINO_VISITAS=secretariacolegiosagrado@gmail.com
EMAIL_DESTINO_LOCACAO=secretariacolegiosagrado@gmail.com

# GOOGLE ANALYTICS 4
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
